* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    background: linear-gradient(#CB356B, #BD3F32);
}

.app{
    background: #fff;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0px 0 rgba(0, 0, 0, 0.12), 0 0px
    0px 0px rgba(0, 0, 0, 0.3);
}

.app__header {
    padding: 20px;
    text-align: center;
}

.app__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.app__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: #999;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    color: #acacac;
    font-family: GothamPro, sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.2rem;
}

.input input {
    display: block;
    width: 100%;
    max-height: 2.8rem;
    padding: 0.8rem 1rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4;
    color: #000000;
    background: #fff none;
    border: 1px solid #999;
    border-radius: 5px;
}

.hide {
    display: none!important;
}

.btn {
    position: absolute;
    z-index: 2;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    overflow: hidden;
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(30,255,188,1);
    background: rgba(255,255,255,1);
    transition: color .3s, background .5s;
}

  .btn:hover {
    animation: stripes .75s infinite linear;
    background: linear-gradient(45deg, rgba(30,255,188,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%,      rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
    background-size: 10px 10px;
    color: #FF50E5;
  }
  @keyframes stripes {
    0% {background-position: 0 0;}
    100% {background-position: 50px 0;}
  }